/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/
:root {
  --font-family: sans-serif;
  --background-color: #181818;
  --foreground-color: rgba(255, 255, 255, 1);
}

html,
body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  height: 100vh;
}

* {
  transition: all 0.25s ease;
}

fluent-design-system-provider,
app-index {
  height: 100%;
  color: var(--foreground-color);
}

@media (prefers-color-scheme: dark) {

  html,
  body {
    background: #181818;
  }

  fluent-design-system-provider {
    --foreground-color: white;
    --fill-color: #242424;

    --accent-base-color: #F2C812;
    --accent-fill-rest: #E4BC11;
    --accent-fill-focus: #E4BC11;
    --accent-fill-hover: #F2C812;
    --accent-fill-active: #D2AD0F;
    --accent-fill-selected: #F5D447;

    --accent-stroke-control-rest: linear-gradient(#F5D447 90%, #D2AD0F 100%);
    --accent-stroke-control-hover: linear-gradient(#F5D447 90%, #D2AD0F 100%);
    --accent-stroke-control-active: #F5D447;
    --accent-stroke-control-focus: linear-gradient(#F5D447 90%, #D2AD0F 100%);

    --neutral-fill-input-rest: #242424;
    --neutral-fill-input-active: #313131;
    --neutral-fill-input-focus: #363636;
    --neutral-fill-input-hover: #3D3D3D;
    --neutral-fill-secondary-rest: #3D3D3D;
    --neutral-fill-secondary-hover: #454545;
    --neutral-fill-secondary-active: #383838;
    --neutral-fill-secondary-selected: #3D3D3D;

    --accent-foreground-rest: var(--foreground-color);
    --foreground-on-accent-rest: #000000;
    --foreground-on-accent-hover: #000000;
    --foreground-on-accent-active: #000000;
    --neutral-foreground-rest: var(--foreground-color);
    --neutral-fill-stealth-rest: rgba(255, 255, 255, 0);
    --neutral-fill-stealth-hover: rgba(255, 255, 255, 0.2);
    --neutral-fill-stealth-active: rgba(255, 255, 255, 0.4);
    --neutral-stroke-divider-rest: rgba(255, 255, 255, 0.2);

    --timer-background-red: #860101;
    --timer-background-green: #0C5E0C;
    --timer-background-yellow: #D2AD0F;
    --timer-background-blue: #005CA3;
  }
}

@media (prefers-color-scheme: light) {

  html,
  body {
    background: white;
    color: black;
  }

  fluent-design-system-provider {
    --foreground-color: black;
    --fill-color: #f1f1f1;
    --background-color: white;

    --accent-base-color: #F2C812;
    --accent-fill-rest: #F2C812;
    --accent-fill-focus: #F2C812;
    --accent-fill-hover: #E4BC11;
    --accent-fill-active: #F4D033;
    --accent-fill-selected: #C7A50F;

    --accent-foreground-rest: var(--foreground-color);
    --accent-stroke-control-rest: linear-gradient(#F5D447 90%, #D2AD0F 100%);
    --accent-stroke-control-hover: linear-gradient(#F5D447 90%, #D2AD0F 100%);
    --accent-stroke-control-active: #F5D447;
    --accent-stroke-control-focus: linear-gradient(#F5D447 90%, #D2AD0F 100%);
    --foreground-on-accent-rest: #000000;
    --foreground-on-accent-hover: #000000;
    --foreground-on-accent-active: #000000;
    --neutral-foreground-rest: #2B2B2B;
    --neutral-fill-input-rest: #e5e5e5;
    --neutral-fill-input-hover: white;
    --neutral-fill-stealth-rest: rgba(0, 0, 0, 0);
    --neutral-fill-stealth-hover: rgba(0, 0, 0, 0.2);
    --neutral-fill-stealth-active: rgba(0, 0, 0, 0.4);
    --neutral-fill-rest: #5d5d5d;
    --neutral-fill-input-active: #e5e5e5;
    --timer-background-red: #FF0909;
    --timer-background-green: #1cb91c;
    --timer-background-yellow: #F2C812;
    --timer-background-blue: #0091ff;
  }
}