html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
	font-family: Open Sans, Arial, sans-serif;
	padding: 0;
	height: 100vh;
	width: 100vw;
        position: relative;
	overflow: hidden;
}

form label {
    display: block;
    padding: 0.5em 1em;
    flex-shrink: 0;
}

a:link, a:hover, a:visited, a:active {
	color: inherit;
}

.timersLoaded #loader {
    display: none;
}

.timersLoaded.noTimers .no-timers {
    display: flex;
}

.no-timers {
    display: none;
    padding: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 1.5em;
    height: calc(100% - 60px);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.timersLoaded:not(.noTimers) .timers {
    display: block;
}

.timers {
    display: none;
    position: relative;
}

.timer {
    border-bottom: 1px solid #BDBDBD;
    max-height: 200px;
    opacity: 1;
}

.timer h2 {
    font-size: 1.5em;
    font-weight: normal;
}

.timer a {
    display: block;
    padding: 20px;
    text-decoration: none;
}

.timer p {
    color: #757575;
    font-size: 1em;
    font-style: italic;
}

.timer > div {
    background-color: red;
}

.swiper {
    background: #fff;
    opacity: 1 !important;
    position: relative;
}

.removed .swiper {
    left: 100% !important;
}

@keyframes removeTimer {
    0% {max-height: 200px; opacity: 1;}
    100% {max-height: 0; opacity: 0;}
}

.removed {
    animation: removeTimer 0.25s linear;
    max-height: 0;
    opacity: 0;
}

.undo-div {
    color: #fff;
    top: 50% !important;
    left: initial !important;
    right: 30px !important;
    transform: translateY(-50%);
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    /* padding-left: 50px; */
    width: auto !important;
}

.timer-interface {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
}

.timer-container {
    position: relative;
    top: 0;
    height: 100vh;
    max-width: 500px;
    margin: auto;
    left: 0;
    right: 0;
}

.timer-middle {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	width: 90%;
	margin: auto;
	height: auto;
	text-align: center;
}

.timer-info p {
	padding: 0;
	margin: 20px auto;
}

.timer-control {
    height: 1em;
}

.white {
    background-color: #FFFFFF;
}

.yellow {
	background-color: #FFEB3B;
}

.red {
	background-color: #F44336;
}

.green {
	background-color: #4CAF50;
}

.blue {
	background-color: #2196F3;
}

.yellow #save {
	background-color: #8c8c00;
	color: #ffff00;
}

.blue #save {
	background-color: #008077;
	color: #00e6d7;
}

.red #save {
	color: #ff3333;
	background-color: #951e1e;
}

.green #save {
	color: #49e838;
	background-color: #1e5f17;
}

.time-info {
	font-size: 6vh;
	font-style: italic;
}

.time {
	font-size: 20vh;
	line-height: 12vh;
}

header {
    position: sticky;
	height: 60px;
	text-align: center;
	width: 100%;
        background-color: #ffeb3b;
        box-shadow: 0 0 1px 0 #666;
}

header h1 {
    font-weight: normal;
    font-size: 1.2em;
    text-align: left;
    padding: 1em;
}

.hamburger-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 58px;
    height: 12px;
    padding: 24px 20px;
}

.hamburger-icon .menu-icon {
    display: block;
    height: 12px;
    width: 100%;
}

.timer-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}

.menu-button {
    font-weight: 100;
    text-decoration: none;
    font-size: 1.5em;
    color: #212121;
    padding: 14px 20px;
    display: inline-block;
    background-color: transparent;
    border: none;
    height: 100%;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
}

.question-circle {
    color: white;
    background: black;
    border-radius: 50%;
    width: 1.25em;
    display: inline-block;
    text-align: center;
    margin-right: 0.5em;
}

button.add-timer {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    box-shadow: 1px 1px 3px 0 #666;
    font-size: 2em;
    color: #fff;
    background: #FF5722;
    cursor: pointer;
}

.top-menu {
    height: 60px;
    border-bottom: 1px solid #BDBDBD;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.top-menu a:last-of-type {
    float: right;
}

.new-timer {
    position: fixed;
    top: 0;
    transform: translateY(100vh);
    padding: 0;
    width: 100vw;
    z-index: 999;
    background: #fff;
    height: 100vh;
    transition: transform cubic-bezier(0.22, 0.61, 0.36, 1) 0.25s;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}

.editing .new-timer {
    transform: translateY(0);
}

.new-timer.slideUp .top-menu {
    position: fixed;
}

#timer-setup {
    overflow-y: scroll;
    max-height: calc(100vh - 60px);
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.duration-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media all and (min-width: 1024px) {
    .new-timer {
        max-width: 800px;
        max-height: 500px;
        box-shadow: 0px 0px 3px #bdbdbd;
        border-radius: 10px;
    }

    #timer-setup {
        max-height: 540px;
    }

    .input-wrapper {
        flex-direction: row;
    }

    form label {
        flex-basis: 7em;
        align-self: center;
    }

    .duration-wrapper {
        justify-content: start;
    }
}

#timer-setup input, #timer-setup textarea, #timer-setup select {
	border-radius: 3px;
	border: 0;
	border-bottom: solid 1px #BDBDBD;
	width: 100%;
	padding: 10px 20px;
	font-size: 1.25em;
    font-family: Open Sans, sans-serif;
    box-sizing: border-box;
    display: block;
}

#timer-setup input.duration {
    text-align: center;
    flex: 0;
    flex-basis: 20%;
    padding-left: 0;
    padding-right: 0;
}

.repeat-entry {
    text-align: center;
}

#back {float: left;}
#next {float: right;}

#timer-name {
    line-height: 60px;
    text-decoration: none;
    text-align: center;
    padding: 0 60px;
    font-size: 1.5em;
}

#timer-menu-btn {
	float: left;
}

#timer-reset-btn {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}
@keyframes slideIn {
    from {left: -100%;}
    to {left: 0;}
}           
@keyframes slideOut {
    from {left: 0;}
    to {left: -100%;}
}           
.slideIn {
    -moz-animation: slideIn 0.25s ease-out;
    -webkit-animation: slideIn 0.25s ease-out;
    -o-animation: slideIn 0.25s ease-out;
    animation: slideIn 0.25s ease-out;
    left: 0;
}           
.slideOut {
    -moz-animation: slideOut 0.25s ease-in;
    -webkit-animation: slideOut 0.25s ease-in;
    -o-animation: slideOut 0.25s ease-in;
    animation: slideOut 0.25s ease-in;
    left: -100%;
}
@keyframes slideUp {
    from {top: 100%; opacity: 0;}
    to {top: 0; opacity: 1;}
}           
@keyframes slideDown {
    from {top: 0; opacity: 1;}
    to {top: 100%; opacity: 0;}
}           
.slideUp {
    -moz-animation: slideUp 0.1s ease-in;
    -webkit-animation: slideUp 0.1s ease-in;
    -o-animation: slideUp 0.1s ease-in;
    animation: slideUp 0.1s ease-in;
    top: 0;
    opacity: 1;
}           
.slideDown {
    -moz-animation: slideDown 0.1s ease-out;
    -webkit-animation: slideDown 0.1s ease-out;
    -o-animation: slideDown 0.1s ease-out;
    animation: slideDown 0.1s ease-out;
    top: 100%;
    opacity: 0;
}
@keyframes loaderSpin {
    100% {transform: translateX(-50%) rotate(360deg);}
}
.loader {
    animation: loaderSpin 0.25s linear infinite;
    width: 50px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%) rotate(0);
    display: block;
    z-index: 9999
}

.loader-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    width: 100%;
    height: 100vh;
    z-index: 99;
}

.opaque {
    opacity: 0.75;
    transform: rotate(0deg);
    z-index: 999;
}

.visible {
    display: block;
}
