name: Enable Auto Merge
on:
  pull_request_target:
    types:
      - opened
      - reopened
      - edited

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'wbrawner' || github.actor == 'dependabot[bot]' }}
    steps:
      - name: Enable auto-merge
        run: gh pr merge --auto --rebase "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.GH_TOKEN}}

